.main__container {
  display: flex;
  flex-direction: column;
  margin: 0 7vw;
}

.brand {
  font-size: 2.2rem;
  font-weight: 300;
}

.model {
  font-size: 2rem;
  font-weight: 300;
}

.price {
  font-size: 1.7rem;
  font-weight: 300;
}
